

body{
   background-color:  #EBEBEB;
}

header{
    background-color: #FFF159;
}

img{
    width: 200px;
    height: 150px;
}

main article{
    border: outset;

}

footer{
    background-color: #FFFFFF;
}